<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="'/'">Sci.Kand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="'/'">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="'/buildings'">Buildings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userService.isAuthenticated" routerLinkActive="active"><a [routerLink]="'/login'">Login</a></li>
        <li *ngIf="userService.isAuthenticated" routerLinkActive="active"><button class="btn btn-default navbar-btn" (click)="userService.logout()">Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
