<h2>Buildings</h2>
<table id="buildings-table" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let building of buildings" (click)="selectBuilding(building)" >
      <td>{{building.description_alias}}</td>
      <td>{{building.lat | number:'1.2-2'}}</td>
      <td>{{building.lng | number:'1.2-2'}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="addBuilding()"><span class="glyphicon glyphicon-plus"></span> Add Building</button>
