<h3>Edit Building</h3>
<form (ngSubmit)="submit()">
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div class="form-group col-md-6">
    <label for="building_id">Building id</label>
    <input id="building_id" class="form-control" name="building_id" placeholder="Building id" [(ngModel)]="model.building_id">
  </div>
  <div class="form-group col-md-6">
    <label for="description_alias">Description alias</label>
    <input id="description_alias" class="form-control" name="description_alias" placeholder="Description alias" [(ngModel)]="model.description_alias">
  </div>
  <div class="form-group col-md-6">
    <label for="alias">Alias</label>
    <input id="alias" class="form-control" name="alias" placeholder="Alias" [(ngModel)]="model.alias">
  </div>
  <div class="form-group col-md-6">
    <label for="name_alias">Name alias</label>
    <input id="name_alias" class="form-control" name="name_alias" placeholder="Name alias" [(ngModel)]="model.name_alias">
  </div>
  <div class="form-group col-md-6">
    <label for="latitude">Latitude</label>
    <input id="latitude" class="form-control" name="latitude" placeholder="Latitude" [(ngModel)]="model.lat">
  </div>
  <div class="form-group col-md-6">
    <label for="longitude">Longitude</label>
    <input id="longitude" class="form-control" name="longitude" placeholder="Longitude" [(ngModel)]="model.lng">
  </div>
  <div class="form-group col-md-6">
    <label for="storage_dir">Storage dir</label>
    <input id="storage_dir" class="form-control" name="storage_dir" placeholder="Storage dir" [(ngModel)]="model.storage_dir">
  </div>
  <div class="form-group col-xs-12">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </div>
</form>
