<div *ngIf="building">
  <div *ngIf="!editing">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-default" (click)="editing = true"><span class="glyphicon glyphicon-edit"></span>
            Edit
          </button>
        </div>
        <h3 class="panel-title">
          <small>Name:</small>
          {{building.description_alias}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <span class="col-md-6"><small>Latitude:</small> {{building.lat}}</span>
          <span class="col-md-6"><small>Longitude:</small> {{building.lng}}</span>
        </div>
      </div>
    </div>
    <h4>Areas</h4>
    <div *ngIf="areas.length">
      <table class="table table-hover" id="building-area-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Floor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let area of areas">
          <td>{{area.description_alias}}</td>
          <td>{{area.floor_order}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-building-edit *ngIf="editing" [building]="building" (cancelled)="editing = false" (saved)="saved($event)"></app-building-edit>
</div>
<div *ngIf="errorMessage" class="alert alert-warning">{{errorMessage}}</div>
