<h1>Login</h1>
<form (ngSubmit)="submit()">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div class="form-group">
    <input id="username" class="form-control" name="username" placeholder="Username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <input type="password" id="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
